<div class="page-header">
    <label><img src="../../../images/create_invoice.png" class="addinvoice_img" />Add Invoice</label>
    <a [routerLink]="['/customer']"><img class="dash_img" src="../../../images/dashboard.png" /></a>
    <a [routerLink]="['/customer']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="addcust_link">Dashboard</a>
</div>


<form (submit)="onAddSubmit()" class="well">
    <div class="form-group">
        <label>Service</label>
        <input type="text" class="form-control" [(ngModel)]="service" name="service" placeholder="Service">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" [(ngModel)]="price" name="price" placeholder="Price">
    </div>
    <div class="form-group">
        <label>Status</label>
        <select class="form-control" [(ngModel)]="status" name="status">
            <option value="unpaid">Unpaid</option>
            <option value="unpaid">Paid</option>
        </select>
        
    </div>
    <div class="form-group">
        <label>Due Date</label>
        <input type="date" class="form-control" [(ngModel)]="due" name="due" placeholder="Due Date">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

